{% from "macros/inverse-header/macro.njk"           import inverseHeader %}

<div class="publication-external">
  <ol class="organisation-logos">
    <li class="organisation-logos__logo">
      <div class="organisation-logo__inner">
        <div class="gem-c-organisation-logo brand--cabinet-office">
          <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="/government/organisations/cabinet-office">
            <span class="gem-c-organisation-logo__name">Cabinet Office</span>
          </a>
        </div>

      </div>
    </li>
    <li class="organisation-logos__logo">
      <div class="organisation-logo__inner">
        <div class="gem-c-organisation-logo brand--department-for-education">
          <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="/government/organisations/department-for-education">
            <span class="gem-c-organisation-logo__name">Department <br>for Education</span>
          </a>
        </div>

      </div>
    </li>
  </ol>
</div>

{{ inverseHeader({ title: params.publicationTitle, publishedOn: params.publicationDate }) }}

<div class="govuk-grid-row sidebar-with-body" data-module="sticky-element-container" id="contents">
  {% if params.contentsHeadings %}
    <div class="govuk-grid-column-one-quarter-from-desktop contents-list-container">
      <nav class="gem-c-contents-list  gem-c-contents-list--no-underline " role="navigation" data-module="track-click">
        <h2 class="gem-c-contents-list__title">Contents</h2>

        <ol class="gem-c-contents-list__list">
          {% for contentsHeading in params.contentsHeadings %}
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
              {% if contentsHeading.title %}
                <a class="gem-c-contents-list__link govuk-link" href="#{{slugify(contentsHeading.id)}}">{{contentsHeading.title}}</a>
              {% else %}
                <a class="gem-c-contents-list__link govuk-link" href="#{{slugify(contentsHeading)}}">{{contentsHeading}}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ol>
      </nav>
    </div>
  {% endif %}

  <div class="main-content-container offset-empty-contents-list">
    <div class="gem-c-govspeak-html-publication">
      <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
        <div class="govspeak">
          {% if params.markdownContent %}
            {{ markdown(params.markdownContent) | safe }}
          {% else %}
            {{ params.htmlContent | safe }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div data-sticky-element class="govuk-sticky-element">
    <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
      <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewbox="0 0 13 17">
        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
      </svg>
      Contents
    </a>
  </div>
</div>
