<header class="gem-c-inverse-header  gem-c-inverse-header--padding-top ">

  <div class="gem-c-title gem-c-title--inverse govuk-!-margin-top-8 govuk-!-margin-bottom-0">
    <p class="gem-c-title__context">
      Guidance
    </p>
    <h1 class="gem-c-title__text ">{{params.title}}</h1>
  </div>
  <p class="publication-header__last-changed">Published {{params.publishedOn}}</p>

</header>
