{% extends "layout_govuk.html" %}

{% set mainClasses = "html-publication" %}

{% from "macros/html-publication/macro.njk"             import htmlPublication %}

{% set publicationTitle = "Closure of educational settings: information for parents and carers" %}
{% set publicationDate = "20 March 2020" %}

{% set contentsHeadings = [
  "Closures of schools, childcare and other educational settings",
  "Exams",
  "Free school meals",
  "Vulnerable children",
  "Critical workers",
  "Resources and support"
] %}

{% set htmlContent %}
<p>Information for parents and carers about the closure of schools and other educational settings following the outbreak of coronavirus (COVID-19).</p>

<p>We will update this page as further guidance becomes available.</p>

<h2 id="closures-of-schools-childcare-and-other-educational-settings">
<span class="number">1. </span>Closures of schools, childcare and other educational settings</h2>

<h3 id="what-age-groups-does-this-cover">
<span class="number">1.1 </span>What age groups does this cover?</h3>

<p>The changes cover children at registered childcare providers (including nurseries and childminders), primary and secondary schools and further education colleges. This is for both state-funded and independent schools.</p>

<h3 id="will-it-be-mandatory-for-all-schools-colleges-and-registered-childcare-providers-to-remain-open-in-some-form">
<span class="number">1.2 </span>Will it be mandatory for all schools, colleges and registered childcare providers to remain open in some form?</h3>

<p>We are asking schools, colleges, nurseries, childminders and other registered childcare settings to remain open for children of critical workers and vulnerable children where they can.</p>

<p>We understand that some may be unable to do so especially if they are experiencing severe staff shortages. We will work with local areas to use neighbouring schools, colleges and childcare providers to continue to support vulnerable children and children of critical workers.</p>

<h3 id="how-long-will-schools-and-colleges-be-closed-for">
<span class="number">1.3 </span>How long will schools and colleges be closed for?</h3>

<p>Due to the coronavirus outbreak, schools, colleges and childcare providers will be closed to the majority of pupils until further notice.</p>

<h3 id="will-this-apply-to-independent-schools-and-boarding-schools">
<span class="number">1.4 </span>Will this apply to independent schools and boarding schools?</h3>

<p>Yes. We are asking independent schools and boarding schools to do the same as state schools and remain open for critical workers and vulnerable children.</p>

<h3 id="will-registered-childcare-providers-schools-and-colleges-be-open-over-easter-holidays-for-holiday-clubs-and-childcare">
<span class="number">1.5 </span>Will registered childcare providers, schools and colleges be open over Easter holidays for holiday clubs and childcare?</h3>

<p>Where possible, we would encourage childcare providers, schools and colleges to continue to look after critical workers’ children and vulnerable children throughout the Easter holidays.</p>

<h3 id="i-am-a-critical-worker-or-have-a-vulnerable-child---can-you-guarantee-that-my-child-will-attend-their-usual-school-or-childcare-provider">
<span class="number">1.6 </span>I am a critical worker or have a vulnerable child - can you guarantee that my child will attend their usual school or childcare provider?</h3>

<p>We are expecting the majority of settings to stay open for the children of critical workers and vulnerable children so they can continue to attend their usual provider, but we acknowledge this will be impossible for some - such as small rural schools.</p>

<p>Where a setting is unable to stay open, we will work with the local educational authority, regional school commissioners and neighbouring providers to find an alternative setting for their pupils.</p>

<h3 id="i-am-a-critical-worker-or-have-a-vulnerable-child---how-will-my-child-get-to-school-if-the-only-school-open-is-not-nearby">
<span class="number">1.7 </span>I am a critical worker or have a vulnerable child - how will my child get to school if the only school open is not nearby?</h3>

<p>We are working closely with local authorities to ensure that children can attend the best setting for them, and will provide transport arrangements to support them.</p>

<h3 id="i-am-a-critical-worker-or-have-a-vulnerable-child-but-my-childrens-school-has-closed-what-should-i-do">
<span class="number">1.8 </span>I am a critical worker or have a vulnerable child but my children’s school has closed. What should I do?</h3>

<p>Arrangements are being made in your local area to ensure that your child can still attend school. If your school hasn’t already informed you about those arrangements, please contact your local authority. They will be working with regional school commissioners and neighbouring providers to make alternative arrangements. You can <a href="https://www.gov.uk/find-local-council" class="govuk-link">find out your local authority</a> by entering your postcode.</p>

<h3 id="what-if-i-have-to-leave-my-children-unattended">
<span class="number">1.9 </span>What if I have to leave my children unattended?</h3>

<p>Read the government advice on <a href="https://www.gov.uk/law-on-leaving-your-child-home-alone" class="govuk-link">the law on leaving children unattended</a>.</p>

<p>There is no law about when you can leave your child on their own but it is an offence to leave them alone if it places them at risk. As parents, you should use your judgement on how mature your child is before you decide to leave them at home.</p>

<p>It is important to be aware that you can be prosecuted if you leave a child alone ‘in a manner likely to cause unnecessary suffering or injury to health’. If you are at all unsure, the NSPCC recommends that children under 12 are rarely mature enough to be left alone for a long period of time, children under 16 shouldn’t be left alone overnight and babies, toddlers and very young children should never be left alone.</p>

<h3 id="i-am-a-critical-worker-or-have-a-vulnerable-child-but-i-dont-want-to-send-my-child-in-to-school-or-childcare-do-i-have-to">
<span class="number">1.10 </span>I am a critical worker or have a vulnerable child but I don’t want to send my child in to school or childcare, do I have to?</h3>

<p>Many parents working in these critical sectors may be able to ensure their child is kept at home. Every child who can be safely cared for at home should be.</p>

<p>This is an offer to parents and carers and there is no requirement for parents and carers to send their children to school if they do not need or wish to do so.</p>

<p>For vulnerable children, your child’s social worker will work with you to assess the best option for your child.</p>

<h3 id="does-this-affect-universities-and-other-higher-education-institutions">
<span class="number">1.11 </span>Does this affect universities and other higher education institutions?</h3>

<p>Universities and other higher education providers should make their own judgements based on latest Public Health England guidance. Vice chancellors are well placed to make decisions about their own institution, and many have already moved all their teaching online. The government is supporting them with these decisions.</p>

<p>Advice continues to be that all student accommodation should remain open unless advised otherwise by Public Health England. Many universities provide homes to international students, estranged students and care leavers who might not have anywhere else to go.</p>

<p>The Department is working with the Home Office to avoid individuals and institutions being penalised if online provision inadvertently leads to <a href="https://www.gov.uk/guidance/coronavirus-immigration-guidance-if-youre-unable-to-return-to-china-from-the-uk#licensed-tier-2-tier-4-or-tier-5-sponsors-absences-due-to-coronavirus" class="govuk-link">non-compliance with Tier 4 visa rules</a>.</p>

<h3 id="does-this-apply-to-special-schools">
<span class="number">1.12 </span>Does this apply to special schools?</h3>

<p>We recognise that children and young people with special educational needs and disability (<abbr title="special educational needs and disability">SEND</abbr>) and their parents and carers are facing numerous challenges as a result of coronavirus. Residential special schools and other special settings should be supported to remain open, wherever possible.</p>

<p>Special schools, colleges and local authorities are advised to make case by case basis assessments of the health and safeguarding considerations of pupils and students on an education, health and care (<abbr title="education, health and care">EHC</abbr>) plan. For some, they will be safer in an education provision. For others, they will be safer at home. We trust leaders and parents to make these decisions and will support them as required.</p>

<h3 id="why-is-my-nursery-telling-me-that-they-will-continue-to-charge-me-during-corona-virus-related-closures">
<span class="number">1.13 </span>Why is my nursery telling me that they will continue to charge me during corona virus-related closures?</h3>

<p>The government acknowledges that in many cases, the insurance that early years providers have will not cover them for income lost during COVID-19-related closures.</p>

<p>That is one of the reasons why it announced on 17 March that government would not claw back early years entitlements funding from local authorities during closures, or where children are withdrawn because of COVID-19. This protects a significant proportion of early years providers’ income.</p>

<p>In addition, the government has set out a range of support for businesses to reduce the impact of COVID-19 on them. This includes a business rate holiday for all private childcare providers for one year from 1 April. Local authorities will be fully compensated for the cost of this. The government has also announced significant support for workers, which will help support private early years providers.</p>

<p>In light of these steps taken already, we are asking providers to be reasonable and balanced in their dealings with parents.</p>

<h2 id="exams">
<span class="number">2. </span>Exams</h2>

<h3 id="what-will-happen-to-exams">
<span class="number">2.1 </span>What will happen to exams?</h3>

<p>Primary assessments, including SATs, and exams including GCSEs, AS levels and A levels will not go ahead this summer.</p>

<p>The exam regulator, Ofqual, and exam boards will work with teachers to provide grades to students whose exams have been cancelled this summer. Further information on the <a href="https://www.gov.uk/government/publications/coronavirus-covid-19-cancellation-of-gcses-as-and-a-levels-in-2020" class="govuk-link">cancellation of GCSEs, AS and A levels in 2020</a> is available.</p>

<h2 id="free-school-meals">
<span class="number">3. </span>Free school meals</h2>

<h3 id="will-children-on-free-school-meals-still-receive-a-meal-or-food-voucher-when-schools-close">
<span class="number">3.1 </span>Will children on free school meals still receive a meal or food voucher when schools close?</h3>

<p>Yes. Headteachers can decide which of the available options will be best for families in their area. Schools can provide food on site, arrange deliveries or purchase a voucher to be given to the family. More information on <a href="https://www.gov.uk/government/news/plans-set-out-to-support-pupils-eligible-for-free-school-meals" class="govuk-link">support for pupils eligible for school meals</a> is available.</p>

<p>Contact your school to find out which option they are providing. We understand that some of these approaches may create extra costs for schools - we will provide further guidance shortly on how we will compensate schools accordingly.</p>

<h2 id="vulnerable-children">
<span class="number">4. </span>Vulnerable children</h2>

<h3 id="is-my-child-counted-as-vulnerable">
<span class="number">4.1 </span>Is my child counted as vulnerable?</h3>

<p>Vulnerable children include those who have a social worker and those with education, health and care (<abbr title="education, health and care">EHC</abbr>) plans.</p>

<p>Children who have a social worker include children in need, children who have a child protection plan and those who are looked after by the local authority. We will work with schools, early years, FE providers and local authorities to help identify the children who most need support at this time.</p>

<p>We know that schools will also want to look to support other children who are vulnerable where they are able to do so.</p>

<h2 id="critical-workers">
<span class="number">5. </span>Critical workers</h2>

<h3 id="will-i-be-counted-as-a-critical-worker">
<span class="number">5.1 </span>Will I be counted as a critical worker?</h3>

<p>Critical workers include NHS staff, police, farmers and food retail workers, who need to be able to go out to work.</p>

<p>Children with a parent or carer who is listed on the government’s <a href="https://www.gov.uk/government/publications/coronavirus-covid-19-maintaining-educational-provision/guidance-for-schools-colleges-and-local-authorities-on-maintaining-educational-provision" class="govuk-link">critical worker list</a> should be considered for a school place.</p>

<p>If children can stay safely at home, they should, to limit the chance of the virus spreading. That is why the government has asked parents to keep their children at home, wherever possible, and asked schools to remain open only for those children who absolutely need to attend.</p>

<h3 id="if-only-one-parent-or-carer-is-a-critical-worker-can-i-send-my-children-in-to-school">
<span class="number">5.2 </span>If only one parent or carer is a critical worker, can I send my children in to school?</h3>

<p>Children with at least one parent or carer who is critical to the COVID-19 response can attend school if required.</p>

<p>However, many families with a parent or carer working in critical sectors will be able to ensure their child is kept at home. Every child who can be safely cared for at home should be, to limit the chance of the virus spreading.</p>

<h3 id="i-am-a-critical-worker-or-my-child-is-vulnerable-do-i-have-to-send-them-to-school">
<span class="number">5.3 </span>I am a critical worker or my child is vulnerable. Do I have to send them to school?</h3>

<p>Children with a parent or carer who is listed on the government’s <a href="https://www.gov.uk/government/publications/coronavirus-covid-19-maintaining-educational-provision/guidance-for-schools-colleges-and-local-authorities-on-maintaining-educational-provision" class="govuk-link">critical worker list</a> should be considered for a school place. However, many parents working in these sectors will be able to ensure their child is kept at home. Every child who can be safely cared for at home should be, to limit the chance of the virus spreading.</p>

<p>There is an expectation that vulnerable children will attend school, so long as it is safe for them to do so. In circumstances where a parent does not want to bring their child to school, and their child is considered vulnerable, the social worker and school should explore the reasons for this, directly with the parent, and help to resolve any concerns or difficulties wherever possible. Where parents are concerned about the risk of the child contracting the virus, the school should talk through these anxieties with the parent following the advice set out by Public Health England.</p>

<p>Providers may also want to consider how to encourage vulnerable children and young people to attend provision. Social workers will remain in contact with vulnerable children and families, including remotely if needed.</p>

<h2 id="resources-and-support">
<span class="number">6. </span>Resources and support</h2>

<h3 id="what-support-will-be-available-to-parents-to-help-them-educate-their-children-at-home">
<span class="number">6.1 </span>What support will be available to parents to help them educate their children at home?</h3>

<p>More information will follow about what DfE is doing to support parents. We are working with the BBC and others to provide resources for children to access while at home. For parents with children under 5 years old see <a rel="external" href="https://hungrylittleminds.campaign.gov.uk/" class="govuk-link">hungrylittleminds.campaign.gov.uk</a></p>

<h3 id="there-is-too-much-pressure-on-broadband-connections-in-my-area---how-can-my-child-do-online-learning">
<span class="number">6.2 </span>There is too much pressure on broadband connections in my area - how can my child do online learning?</h3>

<p>The government is having regular calls with the major fixed and mobile operators, and with Ofcom, to monitor the situation and ensure that any problems on the networks are rapidly addressed and rectified.</p>

<p>We fully understand the importance of having reliable internet connectivity at this time, so that people can work from home wherever possible and access critical public services online, including health information.</p>
{% endset %}

{% block content %}
  {{ htmlPublication({
    htmlContent: htmlContent,
    publicationTitle: publicationTitle,
    publicationDate: publicationDate,
    contentsHeadings: contentsHeadings
  }) }}
{% endblock %}
