
{% extends "layout.html" %}

{% block pageTitle %}
  Citizen-facing GOV.UK COVID content – prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        COVID-19 education content on GOV.UK – prototypes
      </h1>

      <h2 class="govuk-heading-m">Prototype content</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/coronavirus">Coronavirus (COVID-19) landing page: inline links (last update 9 April 2020)</a>
        </li>
        <li>
          <a href="/coronavirus-v2">Coronavirus (COVID-19) landing page: hub variant (last update 9 April 2020)</a>
        </li>
        <li>
          <a href="/school-closures-education-and-childcare">Coronavirus (COVID-19) hub page: school closures, education and childcare</a>
        </li>
        <li>
          <a href="/coronavirus-covid-19-guidance-for-schools-and-other-educational-settings">Coronavirus (COVID-19) collection</a>
        </li>
        <li>
          <a href="/keeping-schools-open-for-children-of-key-workers">Keeping schools open for children of key workers</a>
        </li>
        <li>
          <a href="/what-parents-and-carers-should-know-about-covid-19-closures">What parents and carers need to know about COVID-19 closures</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Original content</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/guidance-for-schools-colleges-and-local-authorities-on-maintaining-educational-provision">Guidance for schools, childcare providers, colleges and local authorities in England on maintaining educational provision</a>
        </li>
        <li>
          <a href="/closure-of-educational-settings-information-for-parents-and-carers">Closure of educational settings: information for parents and carers</a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
